*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(123, 158, 145);
    display:flex;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.container {
    background: rgb(55, 55, 55);

    height: 600px;
    width: 300px;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    
    grid-gap: 5px;
    padding: 5px;

    margin-top: 50px;
    
    justify-items:center;
    align-items:center;

    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.489);

    border-radius: 5px;
}


.container > div:nth-child(n + 3) {
    background: rgb(37, 37, 37);
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;

    box-shadow: 1px 1px 10px rgba(93, 93, 93, 0.489);
    border-radius: 5px;
}

.container > div:nth-child(n + 3):hover {
    background: rgb(85, 85, 85);
}

.container_calculo_aqui {
    color: rgb(161, 161, 161);
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: right;
    align-items:flex-end;
    grid-row: 1;
    grid-column: 1/5;
    padding-right: 25px;
    font-size: 20px;
    font-weight: 100;

    word-break: break-word;
}

.container_texto_aqui {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: right;
    align-items:flex-end;
    grid-row: 2;
    grid-column: 1/5;
    padding: 20px;
    font-size: 50px;
    font-weight: 100;

    word-break: break-word;
}

.container_item_limpar {
    grid-row: 3;
    grid-column: 1
}

.container_item_apagar {
    grid-row: 3;
    grid-column: 2;
}

.container_item_porcento {
    grid-row: 3;
    grid-column: 3;
}

.container_item_somar {
    grid-row: 6;
    grid-column: 4;
}

.container_item_subtrair {
    grid-row: 5;
    grid-column: 4;
}

.container_item_multiplicar {
    grid-row: 4;
    grid-column: 4;
}

.container_item_dividir {
    grid-row: 3;
    grid-column: 4;
}

.container_item_igual {
    grid-row: 7;
    grid-column: 3 / 5;
    font-size: 60px;
    font-style: normal;
}

.container_numeros_ponto {
    grid-row: 7;
    grid-column: 2;
}

.container_numeros_0 {
    grid-row: 7;
    grid-column: 1;
}

.container_numeros_1 {
    grid-row: 6;
    grid-column: 1;
}

.container_numeros_2 {
    grid-row: 6;
    grid-column: 2;
}

.container_numeros_3 {
    grid-row: 6;
    grid-column: 3;
}

.container_numeros_4 {
    grid-row: 5;
    grid-column: 1;
}

.container_numeros_5 {
    grid-row: 5;
    grid-column: 2;
}

.container_numeros_6 {
    grid-row: 5;
    grid-column: 3;
}


.container_numeros_7 {
    grid-row: 4;
    grid-column: 1;
}


.container_numeros_8 {
    grid-row: 4;
    grid-column: 2;
}


.container_numeros_9 {
    grid-row: 4;
    grid-column: 3;
}